:root{

    --pale-blue: hsl(225, 100%, 94%);
    --right-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}



*, *::before, *::after {
    box-sizing: border-box;
}
  * {
    margin: 0;
}

body{
    background: var(--pale-blue);
}